$main-color: #0a53be;
@mixin bg-image-settings() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn {
  background-color: $main-color;
}

.imageDiv {
  height: 400px;
  width: 400px;
  @include bg-image-settings;
  background-image: url("https://cdn.britannica.com/70/234870-050-D4D024BB/Orange-colored-cat-yawns-displaying-teeth.jpg");
}


.flex1 {
  flex: 1;
  height: 300px;
}
//
//.cont {
//  height: 500px;
//  width: 500px;
//  display: grid;
//  grid-template-columns: repeat(10, 1fr);
//  grid-template-rows: repeat(10, 1fr);
//}
//
//.cont > div {
//  border: 1px solid black;
//  cursor: pointer;
//  &:hover {
//    background-color: #f5f5f5;
//  }
//}

.box {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selected {
  background-color: #20c997;
}